{erl_opts, [
    {src_dirs, ["src", "tests", "handlers"]},
    debug_info
]}.

{deps, [
  {cowboy, ".*",
    {git, "git://github.com/extend/cowboy.git", "master"}},
  {mimetypes, ".*",
    {git, "git://github.com/spawngrid/mimetypes.git", "master"}},
  {jiffy, ".*",
    {git, "git://github.com/davisp/jiffy.git", "master"}}
]}.
