{erl_opts, [
    {src_dirs, ["src", "tests", "handlers"]}
]}.

%{deps, [
%  {cowboy, ".*",
%    {git, "git://github.com/extend/cowboy.git", "master"}},
%  {mimetypes, ".*",
%    {git, "git://github.com/spawngrid/mimetypes.git", "master"}},
%  {jiffy, ".*",
%    {git, "git://github.com/davisp/jiffy.git", "master"}}
%]}.

{deps_index, [
	{extend, cowboy, "0.8.2"},
	{spawngrid, mimetypes, "507823a0e6a5f6654c61945152a7ba88bd55ad0e"},
	{davisp, jiffy, "0.8.2"}
]}.

{plugins, [
    rebar_deps_manager_plugin
]}.
