{erl_opts, [
    {src_dirs, ["src", "tests", "handlers"]},
    debug_info, fail_on_warning
]}.

{sub_dirs, ["rel"]}.

{deps, [
  {gproc, ".*",
    {git, "git://github.com/uwiger/gproc.git", "master"}},
  {bullet, ".*",
    {git, "git://github.com/extend/bullet.git", "master"}},
  {sync, ".*",
    {git, "git://github.com/rustyio/sync.git", {branch, "master"}}},
  {cowboy, ".*",
    {git, "git://github.com/extend/cowboy.git", "master"}},
  {mimetypes, ".*",
    {git, "git://github.com/spawngrid/mimetypes.git", "master"}},
  {jiffy, ".*",
    {git, "git://github.com/davisp/jiffy.git", "master"}},
 {uuid, ".*",
     {git, "git://gitorious.org/avtobiff/erlang-uuid.git", "master"}}
]}.
